In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [5]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/ethnicity_asian.csv"
asian_all_df = pd.read_csv(file_path)
asian_all_df

,dbn,school_name,cohort_year,asian_num_total_cohort,asian_num_grads,asian_percent_grads,asian_num_total_regents,asian_percent_total_regents_cohort,asian_num_ad_regents,asian_percent_ad_regents_cohort,asian_num_dropout,asian_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,6,6,100.0,6,100.0,3,50.0,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,7,6,85.7,6,85.7,3,42.9,1,14.3
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,3,0,0.0,0,0.0,0,0.0,0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,3,0,0.0,0,0.0,0,0.0,0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,9,8,88.9,8,88.9,0,0.0,1,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...
5603,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2007,1,0,0.0,0,0.0,0,0.0,0,0.0
5604,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,1,0,0.0,0,0.0,0,0.0,0,0.0
5605,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,2,0,0.0,0,0.0,0,0.0,0,0.0
5606,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,1,0,0.0,0,0.0,0,0.0,0,0.0
5607,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,2,0,0.0,0,0.0,0,0.0,0,0.0

In [13]:
column_list = ['DBN', 'School Name', 'Cohort Year', 'Cohort', 'Category', '# Total Cohort', '# Grads', '% Grads', '# Total Regents', '% Total Regents of Cohort', '# Advanced Regents', '% Advanced Regents of Cohort', '# Dropout', '% Dropout']
column_list

['DBN',
 'School Name',
 'Cohort Year',
 'Cohort',
 'Category',
 '# Total Cohort',
 '# Grads',
 '% Grads',
 '# Total Regents',
 '% Total Regents of Cohort',
 '# Advanced Regents',
 '% Advanced Regents of Cohort',
 '# Dropout',
 '% Dropout']

In [6]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/ethnicity_hispanic.csv"
hispanic_all_df = pd.read_csv(file_path)
hispanic_all_df

,dbn,school_name,cohort_year,hispanic_num_total_cohort,hispanic_num_grads,hispanic_percent_grads,hispanic_num_total_regents,hispanic_percent_total_regents_cohort,hispanic_num_ad_regents,hispanic_percent_ad_regents_cohort,hispanic_num_dropout,hispanic_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,39,34,87.2,34,87.2,5,12.8,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,9,9,100.0,9,100.0,0,0.0,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,18,17,94.4,15,83.3,2,11.1,1,5.6
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,19,17,89.5,14,73.7,0,0.0,0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,19,9,47.4,9,47.4,0,0.0,6,31.6
...,...,...,...,...,...,...,...,...,...,...,...,...
7025,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,92,4,4.3,2,2.2,0,0.0,31,33.7
7026,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,58,3,5.2,0,0.0,0,0.0,20,34.5
7027,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,76,2,2.6,0,0.0,0,0.0,20,26.3
7028,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,110,6,5.5,0,0.0,0,0.0,21,19.1
7029,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,101,7,6.9,0,0.0,0,0.0,5,5.0

In [14]:
column_list = ['DBN', 'School Name', 'Cohort Year', 'Cohort', 'Category', '# Total Cohort', '# Grads', '% Grads', '# Total Regents', '% Total Regents of Cohort', '# Advanced Regents', '% Advanced Regents of Cohort', '# Dropout', '% Dropout']
column_list

['DBN',
 'School Name',
 'Cohort Year',
 'Cohort',
 'Category',
 '# Total Cohort',
 '# Grads',
 '% Grads',
 '# Total Regents',
 '% Total Regents of Cohort',
 '# Advanced Regents',
 '% Advanced Regents of Cohort',
 '# Dropout',
 '% Dropout']

In [7]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/ethnicity_black.csv"
black_all_df = pd.read_csv(file_path)
black_all_df

,dbn,school_name,cohort_year,black_num_total_cohort,black_num_grads,black_percent_grads,black_num_total_regents,black_percent_total_regents_cohort,black_num_ad_regents,black_percent_ad_regents_cohort,black_num_dropout,black_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,17,16,94.1,16,94.1,0,0.0,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,11,10,90.9,10,90.9,4,36.4,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,6,4,66.7,3,50.0,0,0.0,2,33.3
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,6,4,66.7,4,66.7,0,0.0,1,16.7
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,6,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6982,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,45,1,2.2,1,2.2,0,0.0,16,35.6
6983,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,54,0,0.0,0,0.0,0,0.0,0,0.0
6984,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,52,0,0.0,0,0.0,0,0.0,0,0.0
6985,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,65,0,0.0,0,0.0,0,0.0,10,15.4
6986,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,56,0,0.0,0,0.0,0,0.0,0,0.0

In [8]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/ethnicity_native_american.csv"
native_american_all_df = pd.read_csv(file_path)
native_american_all_df

,dbn,school_name,cohort_year,native_american_num_total_cohort,native_american_num_grads,native_american_percent_grads,native_american_num_total_regents,native_american_percent_total_regents_cohort,native_american_num_ad_regents,native_american_percent_ad_regents_cohort,native_american_num_dropout,native_american_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,1,0,0.0,0,0.0,0,0.0,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2011,2,0,0.0,0,0.0,0,0.0,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2010,1,0,0.0,0,0.0,0,0.0,0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2004,1,0,0.0,0,0.0,0,0.0,0,0.0
4,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2017,1,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3024,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2017,1,0,0.0,0,0.0,0,0.0,0,0.0
3025,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2012,1,0,0.0,0,0.0,0,0.0,0,0.0
3026,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2009,1,0,0.0,0,0.0,0,0.0,0,0.0
3027,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2008,2,0,0.0,0,0.0,0,0.0,0,0.0
3028,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2007,1,0,0.0,0,0.0,0,0.0,0,0.0

In [12]:
# Load the dataset SWD
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/ethnicity_white.csv"
white_all_df = pd.read_csv(file_path)
white_all_df

,dbn,school_name,cohort_year,white_num_total_cohort,white_num_grads,white_percent_grads,white_num_total_regents,white_percent_total_regents_cohort,white_num_ad_regents,white_percent_ad_regents_cohort,white_num_dropout,white_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,1,0,0.0,0,0.0,0,0.0,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,3,0,0.0,0,0.0,0,0.0,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,1,0,0.0,0,0.0,0,0.0,0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,1,0,0.0,0,0.0,0,0.0,0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,2,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5512,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,2,0,0.0,0,0.0,0,0.0,0,0.0
5513,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,1,0,0.0,0,0.0,0,0.0,0,0.0
5514,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,1,0,0.0,0,0.0,0,0.0,0,0.0
5515,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,2,0,0.0,0,0.0,0,0.0,0,0.0
5516,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,2,0,0.0,0,0.0,0,0.0,0,0.0