In [65]:
import pandas as pd
import numpy as np
from pathlib import Path

In [66]:
# Load the dataset disadvantage
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/transformed_poverty_disadv_table.csv"
transformed_poverty_disadv_df = pd.read_csv(file_path)
transformed_poverty_disadv_df

,dbn,school_name,cohort_year,disadv_num_total_cohort,disadv_num_grads,disadv_percent_grads,disadv_num_total_regents,disadv_percent_total_regents_cohort,disadv_num_ad_regents,disadv_percent_ad_regents_cohort,disadv_num_dropout,disadv_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,51,47,92.2,47,92.2,6,11.8,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,26,0,0.0,0,0.0,0,0.0,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,23,0,0.0,0,0.0,0,0.0,0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,27,0,0.0,0,0.0,0,0.0,0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,33,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7122,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,137,0,0.0,0,0.0,0,0.0,0,0.0
7123,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,110,0,0.0,0,0.0,0,0.0,0,0.0
7124,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,126,0,0.0,0,0.0,0,0.0,0,0.0
7125,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,157,0,0.0,0,0.0,0,0.0,16,10.2
7126,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,128,9,7.0,0,0.0,0,0.0,13,10.2

In [67]:
school_names = transformed_poverty_disadv_df[['dbn', 'school_name', 'cohort_year']].drop_duplicates()
school_names

         dbn                     school_name  cohort_year
0     01M292      ORCHARD COLLEGIATE ACADEMY         2017
1     01M292      ORCHARD COLLEGIATE ACADEMY         2016
2     01M292      ORCHARD COLLEGIATE ACADEMY         2015
3     01M292      ORCHARD COLLEGIATE ACADEMY         2014
4     01M292      ORCHARD COLLEGIATE ACADEMY         2013
...      ...                             ...          ...
7122  32K564  BUSHWICK COMMUNITY HIGH SCHOOL         2005
7123  32K564  BUSHWICK COMMUNITY HIGH SCHOOL         2004
7124  32K564  BUSHWICK COMMUNITY HIGH SCHOOL         2003
7125  32K564  BUSHWICK COMMUNITY HIGH SCHOOL         2002
7126  32K564  BUSHWICK COMMUNITY HIGH SCHOOL         2001

[7127 rows x 3 columns]

In [68]:
# Load the dataset not disadvantage
file_path = "/Users/pace/Desktop/Columbia Bootcamp/Final Project/transformed_poverty_not_disadv_table.csv"
transformed_poverty_not_disadv_df = pd.read_csv(file_path)
transformed_poverty_not_disadv_df

,dbn,school_name,cohort_year,not_disadv_num_total_cohort,not_disadv_num_grads,not_disadv_percent_grads,not_disadv_num_total_regents,not_disadv_percent_total_regents_cohort,not_disadv_num_ad_regents,not_disadv_percent_ad_regents_cohort,not_disadv_num_dropout,not_disadv_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,14,12,85.7,12,85.7,2,14.3,0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,5,0,0.0,0,0.0,0,0.0,0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,5,0,0.0,0,0.0,0,0.0,0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,2,0,0.0,0,0.0,0,0.0,0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,3,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6715,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,3,0,0.0,0,0.0,0,0.0,0,0.0
6716,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,3,0,0.0,0,0.0,0,0.0,0,0.0
6717,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,3,0,0.0,0,0.0,0,0.0,0,0.0
6718,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,22,7,31.8,0,0.0,0,0.0,15,68.2
6719,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,31,1,3.2,0,0.0,0,0.0,0,0.0

In [69]:
poverty = school_names.merge(transformed_poverty_disadv_df , how = 'right', on = ['dbn', 'cohort_year'])
poverty = poverty.merge(transformed_poverty_not_disadv_df, how='left', on=['dbn', 'cohort_year'])
poverty

,dbn,school_name_x,cohort_year,school_name_y,disadv_num_total_cohort,disadv_num_grads,disadv_percent_grads,disadv_num_total_regents,disadv_percent_total_regents_cohort,disadv_num_ad_regents,...,school_name,not_disadv_num_total_cohort,not_disadv_num_grads,not_disadv_percent_grads,not_disadv_num_total_regents,not_disadv_percent_total_regents_cohort,not_disadv_num_ad_regents,not_disadv_percent_ad_regents_cohort,not_disadv_num_dropout,not_disadv_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,ORCHARD COLLEGIATE ACADEMY,51,47,92.2,47,92.2,6,...,ORCHARD COLLEGIATE ACADEMY,14.0,12.0,85.7,12.0,85.7,2.0,14.3,0.0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,ORCHARD COLLEGIATE ACADEMY,26,0,0.0,0,0.0,0,...,ORCHARD COLLEGIATE ACADEMY,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,ORCHARD COLLEGIATE ACADEMY,23,0,0.0,0,0.0,0,...,ORCHARD COLLEGIATE ACADEMY,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,ORCHARD COLLEGIATE ACADEMY,27,0,0.0,0,0.0,0,...,ORCHARD COLLEGIATE ACADEMY,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,ORCHARD COLLEGIATE ACADEMY,33,0,0.0,0,0.0,0,...,ORCHARD COLLEGIATE ACADEMY,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,BUSHWICK COMMUNITY HIGH SCHOOL,137,0,0.0,0,0.0,0,...,BUSHWICK COMMUNITY HIGH SCHOOL,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7123,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,BUSHWICK COMMUNITY HIGH SCHOOL,110,0,0.0,0,0.0,0,...,BUSHWICK COMMUNITY HIGH SCHOOL,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7124,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,BUSHWICK COMMUNITY HIGH SCHOOL,126,0,0.0,0,0.0,0,...,BUSHWICK COMMUNITY HIGH SCHOOL,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7125,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,BUSHWICK COMMUNITY HIGH SCHOOL,157,0,0.0,0,0.0,0,...,BUSHWICK COMMUNITY HIGH SCHOOL,22.0,7.0,31.8,0.0,0.0,0.0,0.0,15.0,68.2
7126,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,BUSHWICK COMMUNITY HIGH SCHOOL,128,9,7.0,0,0.0,0,...,BUSHWICK COMMUNITY HIGH SCHOOL,31.0,1.0,3.2,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
poverty.drop(['school_name_y','school_name'], axis =1)

,dbn,school_name_x,cohort_year,disadv_num_total_cohort,disadv_num_grads,disadv_percent_grads,disadv_num_total_regents,disadv_percent_total_regents_cohort,disadv_num_ad_regents,disadv_percent_ad_regents_cohort,...,disadv_percent_dropout,not_disadv_num_total_cohort,not_disadv_num_grads,not_disadv_percent_grads,not_disadv_num_total_regents,not_disadv_percent_total_regents_cohort,not_disadv_num_ad_regents,not_disadv_percent_ad_regents_cohort,not_disadv_num_dropout,not_disadv_percent_dropout
0,01M292,ORCHARD COLLEGIATE ACADEMY,2017,51,47,92.2,47,92.2,6,11.8,...,0.0,14.0,12.0,85.7,12.0,85.7,2.0,14.3,0.0,0.0
1,01M292,ORCHARD COLLEGIATE ACADEMY,2016,26,0,0.0,0,0.0,0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01M292,ORCHARD COLLEGIATE ACADEMY,2015,23,0,0.0,0,0.0,0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01M292,ORCHARD COLLEGIATE ACADEMY,2014,27,0,0.0,0,0.0,0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01M292,ORCHARD COLLEGIATE ACADEMY,2013,33,0,0.0,0,0.0,0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,137,0,0.0,0,0.0,0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7123,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,110,0,0.0,0,0.0,0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7124,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,126,0,0.0,0,0.0,0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7125,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,157,0,0.0,0,0.0,0,0.0,...,10.2,22.0,7.0,31.8,0.0,0.0,0.0,0.0,15.0,68.2
7126,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,128,9,7.0,0,0.0,0,0.0,...,10.2,31.0,1.0,3.2,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
poverty.to_csv("/Users/pace/Desktop/Columbia Bootcamp/Final Project/transformed_poverty_all_table.csv", index=False)